global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  
  - job_name: 'cloud-storage'
    static_configs:
      - targets: ['fileserver:11680']
    scrape_interval: 5s
    metrics_path: '/metrics'